<form [formGroup]="form" (ngSubmit)="AgregarMiembro()">
    <div class="container">
      <header class="w3-container" style="padding-top:22px">
        <h1><b><i class="fa fa-dashboard"></i> Agregar Miembro</b></h1>
    </header>
      <label for="email"><b>Nombre del usuario</b></label>
      <input type="text" placeholder="Ingrese el nombre del nuevo participante" name="participante" required formControlName="usuario">     
      <label for="user"><b>Rol del miembro</b></label>
      <div class="box">
        <select size="1" formControlName="rol">
          <option *ngFor="let rol of roles" value="{{rol.id_rol}}">{{rol.name}}</option>
        </select>
      </div>
      <br>     
      <button type="submit" class="button button1">Agregar Miembro</button>
    </div>
  </form>