.box select {
    margin-top: 1%;
    background-color:white;
    color: black;
    width: 250px;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
  }
  
.box::before {
font-family: FontAwesome;
font-size: 28px;
color: rgba(255, 255, 255, 0.5);
background-color: rgba(255, 255, 255, 0.1);
}
  
.box:hover::before {
color: rgba(255, 255, 255, 0.6);
background-color: rgba(255, 255, 255, 0.2);
}
input {
  width: 50%;
}