<form #userForm="ngForm" (ngSubmit)="RegistrarUsuario()">
  <div class="container">
    <h1>Registro de usuario</h1>
    <p>Por favor complete el formulario para crear una cuenta</p>
    <br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Ingrese el email" name="email" id="email" required #email="ngModel" [(ngModel)]="usuario.email">
    <label for="user"><b>Usuario</b></label>
    <input type="text" placeholder="Ingrese el usuario" name="username" id="usert" required #username="ngModel" [(ngModel)]="usuario.username">
    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingrese la contraseña" name="password" id="psw" required #password="ngModel" [(ngModel)]="usuario.password">
    <label for="psw-repeat"><b>Repita la Contraseña</b></label>
    <input type="password" placeholder="Repita la Contraseña" name="psw-repeat" id="psw-repeat" required #password2="ngModel" [(ngModel)]="passwordr"> 
    <small  *ngIf="!(passwordr==usuario.password)"><b>Las contraseñas no coinciden</b></small>
    <div>
      <button [disabled]="!(passwordr && usuario.password && usuario.email && usuario.username) && userForm.invalid" type="submit" class="button button1">Registrarse</button>
    </div>
  </div>
</form>
