div.cardy {
    padding: 0.5%;
    border: 1px solid black;
    background-color: white;

}

table {
    *border-collapse: collapse;
    border-spacing: 0;
}

th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

th:only-child{
    border-radius: 6px 6px 0 0;
}

.bordered tr:hover {
    background: #fbf8e9;
    transition: all 0.1s ease-in-out;
}